.land_page {
    background-image: url('images/bg\ 1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    background-color: transparent;
    height: 80px;
    padding:0px 25px;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

#get_in_touch,#get_in_touch>a{
    background-color: #FF0066;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}