@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--black-olive);
  /* background-image: url(images/grid.png); */
  color: var(--flame);
  font-size: 16px;

}

#navbar {
  background-color: var(--eerie-black);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Adjust padding as needed */
  border-bottom: 2px solid var(--floral-white);
}

#navbar h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: normal;
  font-style: oblique;
  font-weight: bolder;
  background-color: var(--flame);
  padding: 10px;
  border-radius: 50%;
  color: var(--floral-white);
}

#navbar h4 {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: medium;
  font-weight: bold;
  /* font-style: oblique; */
  color: var(--floral-white);
}

i {
  color: var(--flame);
}

#links a {
  padding: 0px 5px;
}


#navbar a {
  color: var(--floral-white);
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 500;
}

#hero {
  background-color: var(--eerie-black);
  background-image: url(images/grid.png);
  background-size: contain;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}


#herocontent {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#herocontent img {
  width: 100%;
}

#left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Horizontal centering */
  justify-content: center;
  /* Vertical centering */
  text-align: center;
}

#right {
  width: 50%;
}

#left h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: var(--floral-white);
  text-overflow: clip;
}

#left h2 {
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: var(--floral-white);
}

#left a {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
  color: var(--floral-white);
  font-size: large;
  text-decoration: none;
}

#left button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--flame);
  margin: 50px 10px;
  border: solid 0px;

}

#left button:hover {
  background-color: var(--black-olive);

  transition: background-color 0.1s ease, color 0.1s ease;
}

#about {
  background-color: var(--eerie-black);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 5%;
  margin: 0%;
  /* justify-content: center; */
}

#about p,
ul {
  color: var(--floral-white);
  text-align: justify;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 15px 0px;
  line-height: 30px;

}

#social {
  background-color: var(--flame);
  color: var(--floral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 0%;
}

#social i {
  font-size: 2.5rem;
  padding: 10px;
  color: var(--floral-white);

}

#social i:hover {
  color: var(--eerie-black);
  transition: color 0.1s ease;
}

#about img {
  width: 90%;
  filter: grayscale(100%);
  transition: filter 0.1s ease;
}

#about img:hover {
  filter: grayscale(0%);
}

#leftabout {
  width: 50%;
}

#reallystrong {
  color: var(--flame);
  font-weight: bolder;
  font-style: normal;
}

#rightabout {
  width: 50%;
}

#rightabout p {
  font-style: normal;
}


#footer {
  padding: 30px;
  background-color: black;
  color: var(--flame);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

#projects {
  background-color: var(--eerie-black);
  background-image: url(images/grid.png);
  background-size: contain;
  margin: 0%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: normal;
  align-items: center;
  justify-content: space-between;
}

#project {
  width: 100%;
  text-align: center;
  padding: 50px 0px 1px 0px;

  background-color: var(--eerie-black);
  /* background-image: url(images/grid.png);
  background-size: contain; */

}


#projects img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: filter 0.1s ease;

}

#projects img:hover {
  filter: grayscale(0%);
}

#projectcard {
  width: 30%;
  background-color: var(--floral-white);
  padding: 10px;
  border-radius: 15px;

}

#projectcard button {
  border: solid black 0px;
  background-color: var(--flame);
  padding: 10px 15px;
  color: var(--floral-white);
  border-radius: 10px 0px 10px 0px;
}

#projectcard p {
  color: var(--black-olive);
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0px;
  text-align: justify;
  font-style: normal;
}

#projectcard h3 {

  color: var(--eerie-black);
  font-weight: bolder;

}

#projectcard a {
  color: var(--floral-white);
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: medium;
}

#buttonproject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

#Date {

  color: rgb(192, 190, 187);
  font-weight: bold;
  font-style: italic;
}

#skills {
  background-color: var(--flame);
  padding: 0px 20px 20px 20px;
  color: var(--floral-white);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#skill {
  background-color: var(--flame);
  padding: 40px 0px 0px 0px;
  color: var(--floral-white);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#domain {
  width: 30%;
  margin: 10px;
  border-radius: 10px 10px;
  background-color: var(--eerie-black);
  padding: 5% 10%;
  color: var(--flame);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
}

#domain li {
  list-style-type: none;
  text-align: left;
  font-style: normal;
}

#domain li:hover {
  color: var(--flame);
  font-style: oblique;
}

#headings {

  font-size: 2rem;
  font-weight: bolder;
  margin: 10px;
}

@media (max-width: 900px) {

  body {
    margin: 0%;
    padding: 0%;
  }
  head{
    height: 100vh;
  }

  #project {
    padding: 40px 0px 1px 0px;
  }

  #skill {
    padding: 30px 0px;

  }

  #left button {
    margin: 20px 10px 10px 10px;
  }

  #domain {
    width: 100%;
    margin: 10px 20px;
    text-overflow: ellipsis;

  }


  #skills {
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;

  }

  #projects {
    padding: 5% 5%;
    flex-direction: column;
    align-items: center;
  }

  #projectcard {
    width: 100%;
    margin: 20px 0px;
  }

  #navbar {

    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
  }

  #navbar .nav-links {
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }

  #navbar a {
    margin: 0.5rem 0;
  }

  #herocontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  #right {
    margin: 10%;
    width: 80%;
  }

  #left {
    width: 80%;
  }

  #social i {
    font-size: 1.5rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;

    padding: 10% 5%;
  }

  #about img {
    width: 100%;
  }

  #leftabout {
    width: 100%;
  }

  #rightabout {
    width: 100%;
    padding-top: 20px;
  }

  #rightabout ul {
    padding-left: 20px;
    font-style: normal;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  #navbar {
    padding: 15px 40px;
  }

  #navbar h1 {
    font-size: 1.8rem;
    padding: 12px;
  }

  #navbar h4 {
    font-size: 1rem;
  }

  #herocontent {
    padding-bottom: 50px;
  }

  #hero {
    padding-top: 40px;
    height: 90vh;
    gap: 30px;
  }

  #left,
  #right {
    width: 45%;
  }

  #left h1 {
    font-size: 2.5rem;
  }

  #left h2 {
    font-size: 2rem;
  }

  #left button {
    padding: 12px 10px;
    font-size: 1rem;
  }

  #about {
    gap: 40px;
    padding: 4% 8%;
  }

  #about p {
    font-size: 1.1rem;
    line-height: 1.8;
  }

  #projects {

    padding: 5% 8%;
  }

  #projectcard {
    width: 30%;
    margin-bottom: 30px;
  }

  #skills {
    padding: 60px 40px;
    gap: 30px;
  }

  #domain {
    padding: 40px;
  }

  #headings {
    font-size: 2.5rem;
  }

  #footer {
    font-size: 0.9rem;
  }
}

.marquee-wrapper {
  background: #fffcf2ff;
  padding: 10px 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

marquee {
  display: flex;
  align-items: center;
  /* Vertically center everything */
}

.marquee-content {
  display: flex;
  align-items: center;
  /* Vertical alignment for all children */
  gap: 30px;
  /* spacing between items */
}

.logo-item {
  display: inline-block;
  text-align: center;
  margin: 0 15px;
  /* space between logos */
}

.logo-item img {
  width: 70px;
  /* adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-name {
  margin-top: 2px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#pics {
  background-color: var(--flame);

}

#picimg {
  width: 350px;
  margin: 10px 20px;
}